<div class="cat__footer">
    <div class="cat__footer__top">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <div class="mb-3">
            <strong>E C A N D Y</strong>
          </div>
          <div class="row">
  
          </div>
        </div>
        <div class="col-lg-6 mb-3">
       
  
        </div>
      </div>
    </div>
    <div class="cat__footer__bottom">
      <div class="row">
        <div class="col-md-4">
        
        </div>
        <div class="col-md-8">
          <div class="cat__footer__company">
            
              <span>
                  © 2018 <a href="http://Ecandy.org/" target="_blank">Ecandy Software</a>
                  <br>
                  All rights reserved
              </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  