
<div class="cat__pages__login" style="background-image: url(assets/modules/pages/common/img/login/1.jpg)">
  <div class="cat__pages__login__header">
      <div class="row">
          <div class="col-lg-8">
              <div class="cat__pages__login__header__logo">
                  <a href="javascript: history.back();"></a>
                
              </div>
          </div>
          <div class="col-lg-4">
              <div class="cat__pages__login__header__menu">
                  <ul class="list-unstyled list-inline">
                      <li class="list-inline-item active"><a href="javascript: void(0);">Login</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="cat__pages__login__block">
      <div class="row">
          <div class="col-xl-12">
              <div class="cat__pages__login__block__inner">
                  <div class="cat__pages__login__block__form">
                      <h4 class="text-uppercase">
                          <strong>S'inscrire ?</strong>
                      </h4>
                      <br />
                      <form class="col s12 white"  #registerForm="ngForm" >
                          <div class="row">
                              <div class="input-field col s6">
                                    <input class="validate" type="text" name="email" #emaillocal="ngModel" [(ngModel)]="email" [pattern]="emailPattern">
                                    <label data-error="Invalid email!">Email</label>
                                </div>
                                <div class="input-field col s6">
                              <input class="validate" type="password" name="passwordc" #passwordclocal="ngModel" [(ngModel)]="passwordc" required  minlength="3">
                              <label data-error="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6">
                              <input type="text" name="firstname" #firstnamelocal="ngModel" [(ngModel)]="firstname">
                              <label>First Name</label>
                            </div>
                            <div class="input-field col s6">
                              <input type="text" name="lastname" #lastnamelocal="ngModel" [(ngModel)]="lastname">
                              <label>Last Name</label>
                            </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                <button (click)="OnSubmit(registerForm)" [disabled]="!registerForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
                              </div>
                            </div>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="cat__pages__login__footer text-center">
  
  </div>
</div>


