<section class="card">
    <div class="card-header">
        <span class="cat__core__title">
               
                <a id="anchor"></a>
               
            <strong>Dashboard</strong>
        </span>
      </div>
    <div class="coinmarketcap-currency-widget" data-currencyid="74" data-base="EUR" data-secondary="" data-ticker="false" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="false"></div>
    <div class="card-block">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <!-- Chart -->
                <div class="nav-tabs-horizontal mb-5">
                    <ul class="nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active font-size-16 text-black" href="javascript: void(0);" data-toggle="tab" data-target="#a1" role="tab"><strong>Orders</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-size-16 text-black" href="javascript: void(0);" data-toggle="tab" data-target="#a2" role="tab"><strong>Amount</strong></a>
                        </li>
                    </ul>
                    <div class="tab-content padding-top-20">
                        <div class="tab-pane active" id="a1" role="tabcard">
                            <select aria-controls="example1" class="form-control input-sm mb-3 width-100">
                                <option value="10">Last Day</option>
                                <option value="25">Last 7 Days</option>
                                <option value="50">Last Month</option>
                                <option value="100">Last 3 Months</option>
                            </select>
                            <div class="chart-area-1 height-200 chartist"></div>
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Revenue
                                        </div>
                                        <div class="font-size-20 text-black">
                                            <strong>$35,762.00</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Tax
                                        </div>
                                        <div class="font-size-20 text-black">
                                            <strong>$262.00</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Shipping
                                        </div>
                                        <div class="font-size-20 text-black">
                                            <strong>$752.00</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Quantity
                                        </div>
                                        <div class="font-size-20">
                                            <strong>75736</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="a2" role="tabcard">
                            <select aria-controls="example1" class="form-control input-sm mb-3 width-100">
                                <option value="10">Last Day</option>
                                <option value="25">Last 7 Days</option>
                                <option value="50">Last Month</option>
                                <option value="100">Last 3 Months</option>
                            </select>
                            <div class="chart-area-2 height-200 chartist"></div>
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Revenue
                                        </div>
                                        <div class="font-size-20 text-black">
                                            <strong>$23,636.00</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Tax
                                        </div>
                                        <div class="font-size-20 text-black">
                                            <strong>$526.00</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Shipping
                                        </div>
                                        <div class="font-size-20 text-black">
                                            <strong>$600.00</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <div class="font-size-16 mb-2">
                                            Quantity
                                        </div>
                                        <div class="font-size-20">
                                            <strong>1251</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Chart -->

                <!-- Left Tables -->
                <div class="nav-tabs-horizontal mb-5">
                    <ul class="nav nav-tabs mb-3" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link font-size-16 text-black" href="javascript: void(0);" data-toggle="tab" data-target="#b2" role="tab"><strong>Most Viewed Products</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-size-16 text-black" href="javascript: void(0);" data-toggle="tab" data-target="#b3" role="tab"><strong>New Customers</strong></a>
                        </li>

                    </ul>
                    <div class="tab-content padding-top-20">
                   
                        <div class="tab-pane" id="b2" role="tabcard">
                            <div class="cui-ecommerce-dashboard-info">
                                <!-- <div class="cui-ecommerce-dashboard-info__block">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordred table-striped table-hover">
                                        <thead>
                                          <tr>                                             
                                                 <th>NAME</th>
                                                 <th>QUANTITY</th>
                                                 <th>WEIGHTC</th>
                                                 <th>PRICE</th>
                                                 <th>DESCRIPTIONC</th>
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let product of products">
                                                <td >{{ product.NAME }}</td>
                                                <td>{{ product.QUANTITY }}</td>
                                                <td>{{ product.WEIGHTC }}</td>
                                                <td>{{product.PRICE }}</td>
                                                <td>{{product.DESCRIPTIONC }}</td>
                                          </tr>
                                        </tbody>
                                        </table>
                                </div> -->
                            </div>
                        </div>
                        <div class="tab-pane" id="b3" role="tabcard">
                            <div class="cui-ecommerce-dashboard-info">
                                <!-- <div class="cui-ecommerce-dashboard-info__block">
                               
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordred table-striped table-hover">
                                            <thead>
                                              <tr>
                                                     <th>FIRST_NAME</th>
                                                     <th>LAST_NAME</th>
                                                     <th>EMAIL</th>
                                                     <th>PASSWORDC</th>
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let user of users">
                                                    <td >{{ user.FIRST_NAME }}</td>
                                                    <td>{{ user.LAST_NAME }}</td>
                                                    <td>{{ user.EMAIL }}</td>
                                                    <td>{{user.PASSWORDC }}</td>  
                                              </tr>
                                            </tbody>
                                            </table>
                                </div> -->
                            </div>
                        </div>

                           
                        </div>
                    </div>
                </div>


            <div class="col-xl-4 col-lg-12">

                <div class="row mb-5">
                    <div class="col-xl-12 col-lg-6 col-sm-12">
                        <!-- Right Widget -->
                        <div class=" bg-primary p-4 text-white mb-3">

                            <h5 class="text-uppercase mb-3">Ventes</h5>
                            <div class="clearfix"></div>
                            <div>
                                <span class="pull-right font-size-36">
                                    <strong>0$</strong>
                                </span>
                                <i class="icmn-download font-size-36"></i>
                            </div>
                        </div>
                        <!-- End Right Widget -->
                    </div>
                    <div class="col-xl-12 col-lg-6 col-sm-12">
                        <!-- Right Widget -->
                        <div class="bg-default p-4 text-white">
                            <h5 class="text-uppercase mb-3">Commandes</h5>
                            <div class="clearfix"></div>
                            <div>
                                <span class="pull-right font-size-36">
                                    <strong>2</strong>
                                </span>
                                <i class="icmn-stack font-size-36"></i>
                            </div>
                        </div>
                        <!-- End Right Widget -->
                    </div>
                </div>

                <!-- Right Table -->
                <div class="mb-5">
                    <div class="font-size-16 text-black mb-3">
                        <strong>Dernières commandes</strong>
                    </div>
                    <div class="cui-ecommerce-dashboard-info__block">
                        <table class="table table-hover">
                            <thead class="thead-default">
                            <tr>
                                <th>
                                    Clients
                                </th>
                                <th width="20%">
                                   Candies
                                </th>
                                <th width="20%">
                                    Total
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="javascript: void(0);" class="link-underlined">Veronica Costello</a>
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    $30$
                                </td>
                            </tr>
                            
                        
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Right Table -->

               

                <!-- Right Table -->
                <div class="mb-5">
                    <div class="font-size-16 text-black mb-3">
                        <strong>Candies recherché</strong>
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-default">
                        <tr>
                            <th>
                                Mot
                            </th>
                            <th width="20%">
                                Resultat
                            </th>
                            <th width="20%">
                                utilisation
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                Haribo
                            </td>
                            <td>
                                18
                            </td>
                            <td>
                                775
                            </td>
                        </tr>
                      
                        </tbody>
                    </table>
                </div>
                <!-- End Right Table -->
            </div>
        </div>
    </div>
</section>
<!-- END: ecommerce/dashboard -->
