<!-- START: ecommerce/products-catalog -->
<section class="card">
    <div class="card-header">
        <span class="cat__core__title">
            <strong>Candy Catalog</strong>
        </span>
        <div class="cat__top-bar__item hidden-lg-down">
            <div class="cat__top-bar__search">
              <i class="icmn-search"><!-- --></i>
              <input type="text" placeholder="Type to search..." />
            </div>
          </div>
     
    </div>
    <div class="card-block">
        <div class="cat__ecommerce__catalog">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/001.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">Haribo</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $678.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $754.00
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/002.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">HARIBO</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $245.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $166.00
                                </div>
                            </div>
                        </div>
                      
                      
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/003.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">NOKA</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $199.00
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/004.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">TOKA</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $542.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $356.00
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/003.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">NOKA</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $199.00
                            </div>
                        </div>
                 
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/004.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">TOKA</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $542.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $356.00
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/001.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">Haribo</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $678.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $754.00
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/002.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">Haribo</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $245.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $166.00
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/001.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">Haribo</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $678.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $754.00
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/002.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">Haribo fizz</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $245.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $166.00
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__like cat__ecommerce__catalog__item__like--selected">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/003.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">NOKA</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $199.00
                            </div>
                        </div>
                
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="cat__ecommerce__catalog__item">
                        <div class="cat__ecommerce__catalog__item__img">
                            <div class="cat__ecommerce__catalog__item__status">
                                <span class="cat__ecommerce__catalog__item__status__title">New</span>
                            </div>
                            <div class="cat__ecommerce__catalog__item__like">
                                <i class="icmn-heart"><!-- --></i>
                            </div>
                            <a href="javascript: void(0);">
                                <img src="assets/modules/ecommerce/common/img/004.jpg" />
                            </a>
                        </div>
                        <div class="cat__ecommerce__catalog__item__title">
                            <a href="javascript: void(0);">TOKA</a>
                            <a  href="javascript: void(0);" class="btn btn-outline-primary btn-lg" role="button">
                                    <i class="icmn-downloadmr-3" aria-hidden="true"></i>
                                   <p >Buy Item</p> 
                                </a>
                            <div class="cat__ecommerce__catalog__item__price">
                                $542.00
                                <div class="cat__ecommerce__catalog__item__price--old">
                                    $356.00
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: ecommerce/products-catalog -->
